 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');


 *{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
 }
 /* header section */
 header{
   padding: 50px 230px;
   background: rgba(255, 144, 14, 0.10);
 }
.heading{
   display: flex;
   justify-content: space-between;
   align-items: center;
  
}
nav>ul{
   display: flex;
}
ul li{
   list-style: none;
   margin-right: 30px;
  
}
a{
   text-decoration: none;
   color:  #424242;
   text-align: center;
   font-family: Work Sans;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 26px; /* 144.444% */
}
.header-title{
   color:  #131313;
   text-align: center;
   font-family: Work Sans;
   font-size: 45px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
/* banner section */
.banner-content{
   max-width: 800px;
   text-align: center;
   margin: 0 auto;
}
.banner-title{
   color: #131313;
   font-family: Work Sans;
   font-size: 4rem;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.bannertext{
   color: #131313;
}
.btn-primary{
   padding: 15px 30px;
   border: none;
   border-radius: 8px;
   background: #FF900E;
   color: #FFF;
   text-align: center;
   font-family: Work Sans;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   margin-bottom: 40px;
}