 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');


 *{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
 }
 /* header section */
 header{
   padding: 50px 230px;
   background: rgba(255, 144, 14, 0.10);
 }
.heading{
   display: flex;
   justify-content: space-between;
   align-items: center;
  
}
nav>ul{
   display: flex;
}
ul li{
   list-style: none;
   margin-right: 30px;
  
}
a{
   text-decoration: none;
   color:  #424242;
   text-align: center;
   font-family: Work Sans;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 26px; /* 144.444% */
}
.header-title{
   color:  #131313;
   text-align: center;
   font-family: Work Sans;
   font-size: 45px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
/* banner section */
.banner-content{
   max-width: 800px;
   text-align: center;
   margin: 0 auto;
}
.banner img{
   width: 100%;
}
.banner-title{
   color: #131313;
   font-family: Work Sans;
   font-size: 4rem;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.bannertext{
   color: #131313;
}
.btn-primary{
   padding: 15px 30px;
   border: none;
   border-radius: 8px;
   background: #FF900E;
   color: #FFF;
   text-align: center;
   font-family: Work Sans;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   margin-bottom: 40px;
}
main{
   max-width: 80%;
   margin: 70px auto;
}
.teams-container{
   display: flex;
   align-items: center;

}
.teams-img-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
}
.teams-content{
   padding-left: 70px;
   padding-right: 70px;
}
.teams-content-title{
   font-size: 45px;
}
.p{
   color:  #727272;
   font-family: Work Sans;
   font-size: 40px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}
.q{
   color: #131313;
   font-family: Work Sans;
   font-size: 40px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.r{
   color: #FF900E;
   font-family: Work Sans;
   font-size: 40px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.teams-description{
   margin-top: 0px;
   color:  #727272;
   font-family: Work Sans;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 26px; /* 162.5% */
}
/* facts section */
.facts-card-container .card{
   border-radius: 8px;
   border: 1px solid #FF900E;
   text-align: center;
   padding: 40px 30px;
}
.facts-card-container{
   display: flex;
   justify-content: space-around;
   gap: 10px;
}
.facts-card-container .card-stats{
   font-size: 2.8rem;
   color: #424242;
   margin-top: 10px;
   margin-bottom: 10px;
}
.card-title{
   color:  #727272;
   text-align: center;
   font-family: Work Sans;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   margin-top: 5px;
}
.sponsor{
   text-align: center;
}
.sponsors-img{
   margin-top: 50px;
   display: flex;
   justify-content: space-evenly;
   gap: 40px;
   align-items: center;
}
.sponsors-img img{
   width: 165px;
}
.feature{
   display: flex;
   margin-top: 130px;
   gap: 100px;
}
.feature-content .card{
   padding: 30px;
   margin-bottom: 20px;
   border-radius: 8px;
   background: #FFF;
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature .q{
   border-left: 5px solid #FF900E;
   padding-left: 20px;
}
.ten-year{
   border-radius: 8px;
   background-color: #FF900E;
   color: white;
   width: 342px;
   padding: 40px;
   text-align: center;
   position: relative;
   bottom: 100px;
}
.ten-year h2{
   font-size: 4rem;
   margin: 0px;
}
.ten-year p{
   font-size: 1.5rem;
}
.feature-img{
   height: 90%;
   margin-left: 100px;
}









@media screen and (max-width: 576px) {
   .heading, nav>ul, .teams-container, .facts-card-container, .sponsors-img, .feature{
      flex-direction: column;
   }
   header{
      padding: 20px;
   }
   .teams-content, .facts-card-container{
      padding: 20px;
      
   }
   .feature-img img{
      width: 90%;
      margin-left: 0;
   }
   .teams-img-container{
      grid-template-columns: 1fr;
      
   }
}
@media screen and (min-width: 576px) and (max-width: 960px) {
   .heading, .feature{
      flex-direction: column;
   }
   .teams-container, .sponsors-img{
      flex-direction: column;
   }
}